<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>MyPets</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="example.css" />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="../src/demock.js"></script>
    <script src="../adaptors/angular.js"></script>
    <script>
    angular
        .module('example', [])
        .config(demock.init())
        .controller('Example', [ '$scope', '$http', '$location', function ($scope, $http, $location) {
            $scope.credentials = {
                username: 'john',
                password: 'password'
            };

            function setSignedIn() {
                $scope.signedIn = true;
                $scope.userInfo = null;
                $scope.httpStatus = null;

                $http.get('api/userInfo').then(function (response) {
                    $scope.userInfo = response.data;
                });

                $http.get('api/pets').then(function (response) {
                    $scope.pets = response.data;
                });
            }

            if (/signedIn/.test($location.hash())) {
                setSignedIn();
            }

            $scope.signIn = function () {
                $scope.error = null;
                $scope.pending = true;

                $http.post('api/signin', $scope.credentials)
                    .then(setSignedIn, function (response) {
                        var reason = response.data && response.data.error || 'Error';

                        $scope.error = 'Authentication failed: ' + reason;
                        $scope.httpStatus = { code: response.status };
                    })
                    .finally(function () {
                        $scope.pending = null;
                    });
            };

            $scope.signOut = function () {
                $scope.signedIn = false;
                $scope.userInfo = null;
                $scope.pets = null;
                $scope.pet = null;
            };

            $scope.showPet = function (idx) {
                $http.get('api/pets/' + $scope.pets[idx].id).then(function (response) {
                    $scope.pet = response.data;
                });
            }
        }]);
    </script>
</head>
<body ng-app="example" ng-controller="Example">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyPets</a>
        </div>
        <form id="signout" class="navbar-form navbar-right" ng-show="signedIn" ng-submit="signOut()">
            <button class="btn btn-default">Sign Out</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="identity" ng-show="userInfo">{{ userInfo.firstName + ' ' + userInfo.lastName }}</a></li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form id="signin" class="well well-lg" ng-show="!signedIn" ng-submit="signIn()" ng-class="{ '-pending': pending }">
                <div id="error" class="alert alert-danger" ng-show="error">{{ error }}</div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" ng-model="credentials.username" class="form-control" ng-disabled="pending" />
                    <p class="help-block">Also try: <strong>delay</strong>, <strong>timeout</strong></p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" ng-model="credentials.password" class="form-control" ng-disabled="pending" />
                    <p class="help-block">
                        The correct password for username <strong>john</strong> is <strong>password</strong>
                    </p>
                </div>
                <button class="btn btn-primary btn-lg btn-block" ng-disabled="pending">Sign In</button>
            </form>
            <p id="http-status" class="text-muted" ng-show="httpStatus">HTTP {{ httpStatus.code }}</p>
            <div id="welcome" class="alert alert-success" ng-show="{{ signedIn &amp;&amp; userInfo }}">
                <strong>Welcome {{ userInfo.firstName }}!</strong> You have successfully signed in.
            </div>
            <div id="pets" class="panel panel-default" ng-show="signedIn">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Pets</h3>
                </div>
                <div class="panel-body text-muted">
                    Select a pet to see its details.
                </div>
                <div class="panel-footer" ng-if="!pets">Loading...</div>
                <table class="table table-hover" ng-if="pets">
                    <thead>
                        <tr><th>Name</th><th>Kind</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pet in pets"><td><a href="" ng-click="showPet($index)">{{ pet.name }}</a></td><td>{{ pet.kind }}</td></tr>
                    </tbody>
                </table>
            </div>
            <div id="pet" class="panel panel-default" ng-show="pet">
                <div class="panel-heading">
                    <h3 class="panel-title">Pet Details</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ pet.name }}</h2>
                    <p class="text-muted">({{ pet.kind }})</p>
                    <hr />
                    <p>{{ pet.likes }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
